<div class="container">
    <ng-container *ngIf="error">
        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
            style="height: 100vh;">
            <h2 style="color: rgb(255, 200, 1);">Internal Server Error - Refreshing the page will make the error
                disapear.</h2>
            <div class="d-flex">
                <a class="btn me-2" style="background-color: rgb(255, 200, 1);" routerLink="/">Back to home</a>
                <a *appHasRole="['Admin', 'Moderator']" class="btn ms-2" style="background-color: rgb(255, 200, 1);"
                    (click)="openModal(faq)">View Error</a>
            </div>
            <img src="assets/images/server-error.jpg" class="img-fluid py-5" style="height: 80vh;" alt="Page Not Found">
        </section>
    </ng-container>
</div>

<ng-template #faq>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Internal Server Error</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p style="font-weight: bold;">Stack Trace</p>
        <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
    </div>
</ng-template>