<div class='row'>
    <div class='col-sm-2' *ngFor='let photo of awaitingPhotos'>
        <h4 class="text-center">{{photo.username}}</h4>
        <img src='{{photo.url}}' class='img-thumbnail mb-2' alt='{{photo.username}}' style="max-width: 100px;">
        <div class='text-center'>
            <button class='btn btn-sm btn-success me-1' (click)='approvePhoto(photo.id)'>Approve</button>
            <button class='btn btn-sm btn-danger' (click)='rejectPhoto(photo.id)'>Reject</button>
        </div>
    </div>
</div>