<div class="card recent-sales overflow-auto" *ngIf="member">

    <div class="filter">
        <button class="btn-success btn me-3">Add</button>
        <a class="icon" style="cursor: pointer;">
            <fa-icon [icon]="['fas', 'sync']" (click)="rerender()"></fa-icon>
        </a>
    </div>

    <div class="card-body">
        <h5 class="card-title">Recent Payments <span>| Today</span></h5>

        <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="isVisible">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Method</th>
                    <th scope="col">Pay Date</th>
                    <th scope="col">Pay For</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of payments; let index = index;">
                    <th scope="row">{{index}}</th>
                    <td>{{payment.method}}</td>
                    <td>{{payment.payDate}}</td>
                    <td>{{payment.payMonth}}</td>
                    <td>{{payment.amount}}</td>
                    <td *ngIf="payment.paymentStatus == 'Approve'"><span class="badge bg-success">{{payment.paymentStatus}}</span></td>
                    <td *ngIf="payment.paymentStatus == 'Pending'"><span class="badge bg-warning">{{payment.paymentStatus}}</span></td>
                    <td *ngIf="payment.paymentStatus == 'Reject'"><span class="badge bg-danger">{{payment.paymentStatus}}</span></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>