<div class="row">
    <div class="mb-2 mt-2">
        <p style="font-size: 24px; font-weight: 500;">Users & Lease Summary</p>
    </div>
    <div style="border: 0.5px solid rgb(162, 162, 162);" class="p-3">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover w-100">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Status <span data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Set this when the user is still active.">
                        <fa-icon [icon]="['fas', 'info-circle']" class="me-2"></fa-icon>
                    </span></th>
                    <th>Lease Start</th>
                    <th>Lease End</th>
                    <th>Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <ng-container *ngIf="user.active">
                        <td>{{user.userName}}</td>
                        <td>{{user.roles.join(', ')}}</td>
                        <td>{{user.active}}</td>
                        <ng-container *ngIf="user.roles.includes('Member')">
                            <td>{{user.leaseStart | date:'mediumDate'}}</td>
                            <td>{{user.leaseEnd | date:'mediumDate'}}</td>
                        </ng-container>
                        <ng-container *ngIf="user.roles.includes('Admin') || user.roles.includes('Moderator')">
                            <td>N/A</td>
                            <td>N/A</td>
                        </ng-container>
                        <td style="max-width: 80px; word-wrap: break-word;">
                            <div style="overflow-y: auto; max-height: 80px;">{{user.notes}}</div>
                        </td>
                        <td>
                            <button (click)="openRolesModal(user)" class="btn btn-warning mb-1 me-2"
                                style="color: white; display: inline-block;">Edit
                                User</button>
                            <button *ngIf="user.roles.includes('Member') && user.userName != 'bao'"
                                (click)="openLeaseModal(user)" class="btn btn-info mb-1 me-2"
                                style="color: white; display: inline-block">View
                                Lease</button>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="!user.active">
                        <td>{{user.userName}}</td>
                        <td>{{user.roles.join(', ')}}</td>
                        <td>{{user.active}}</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td><button (click)="openRolesModal(user)" class="btn btn-warning mb-1 me-2"
                                style="color: white;">Edit
                                Role</button>
                            <button *ngIf="user.roles.includes('Member') && user.userName != 'bao'"
                                (click)="openLeaseModal(user)" class="btn btn-info" style="color: white;">View
                                Lease</button>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>