<div>
    <div class="row justify-content-between">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select" (change)="onSelected()" [(ngModel)]="selectedMonth">
                        <option value="0" default>Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-md-8" *ngIf="!pendingPaymentView">
                    <select class="form-select" style="width: 35%;" [(ngModel)]="selectedYear"
                        (change)="onYearSelected()">
                        <option default value="2023">2023</option>
                        <option [value]="year" *ngFor="let year of listOfYear">{{year}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-3 mt-md-0 pe-3">
            <div id="button_container">
                <button class="btn btn-success ms-1" type="button" (click)="getPendingPayments()">Pending
                    Payment</button>
                <button class="btn btn-danger ms-1" type="button" (click)="getPastPayments()">Past Payment</button>
            </div>
        </div>
    </div>

    <div class="card info-card mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10%">#</th>
                    <th style="width: 15%">Username</th>
                    <th style="width: 15%">Method</th>
                    <th style="width: 15%">Month</th>
                    <th style="width: 15%">Pay Date</th>
                    <th style="width: 15%">Amount</th>
                    <th style="width: 15%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of selectedPayment; let index = index;">
                    <td>{{index + 1}}</td>
                    <td>{{payment.username}}</td>
                    <td>{{payment.method}}</td>
                    <td>{{payment.payMonth}}</td>
                    <td>{{payment.payDate}}</td>
                    <td>{{payment.amount}}</td>
                    <td *ngIf="payment.paymentStatus == 'Pending'"><button (click)="openPaymentModal(payment)"
                            class="btn btn-warning" style="color: white;">Action</button></td>
                    <td *ngIf="payment.paymentStatus == 'Approve'"><span
                            class="badge bg-success">{{payment.paymentStatus}}</span></td>
                    <td *ngIf="payment.paymentStatus == 'Reject'"><span
                            class="badge bg-danger">{{payment.paymentStatus}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>