<main id="main" class="main">
    <div class="pagetitle">
        <h1 style="font-weight: 400; color: rgb(82, 14, 14);">Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="font-weight: 400;">Home</a></li>
                <li class="breadcrumb-item active" style="font-weight: 400;">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard" *appHasRole="['Member']">
        <app-myhome-infocard [member]="member"></app-myhome-infocard>
        <div class="row">
            <div class="col-lg-8" style="padding-right: 6px">
                <app-bill-chart></app-bill-chart>
            </div>
            <div class="col-lg-4">
                <app-reisdent-sum></app-reisdent-sum>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <app-recent-payment></app-recent-payment>
            </div>
            <div class="col-lg-4">
                <app-payment-pie-chart [member]="member"></app-payment-pie-chart>
            </div>
        </div>
    </section>
    <section class="section dashboard" *appHasRole="['Admin', 'Moderator']">
        <div class="row">
            <div class="col-lg-8" style="padding-right: 6px">
                <app-bill-chart></app-bill-chart>
            </div>
            <div class="col-lg-4">
                <app-payment-pie-chart [member]="member"></app-payment-pie-chart>
            </div>
        </div>
    </section>
</main>