<main id="main" class="main">
    <div class="pagetitle">
        <h1 style="font-weight: 400; color: rgb(82, 14, 14);">Contact</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="font-weight: 400;">Home</a></li>
                <li class="breadcrumb-item active" style="font-weight: 400;">Contact</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section contact">
        <div class="row gy-4">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <fa-icon [icon]="['fas', 'map-marker-alt']" class="me-2" style="font-size: 38px;"></fa-icon>
                            <h3>Address</h3>
                            <p>3201 Avondale Avenue<br>Toledo, OH 43607</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <fa-icon [icon]="['fas', 'mobile-alt']" class="me-2" style="font-size: 38px;"></fa-icon>
                            <h3>Call Us</h3>
                            <p>+1 419 699 9534 - Le #1 (Bao)<br>+1 419 699 9535 - Le #2 (Nhat)</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <fa-icon [icon]="['far', 'envelope']" class="me-2" style="font-size: 38px;"></fa-icon>
                            <h3>Email Us</h3>
                            <p>lehoangnhatduy2000@gmail.com<br>lehoangbaoduy2000@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-box card">
                            <fa-icon [icon]="['far', 'address-book']" class="me-2" style="font-size: 38px;"></fa-icon>
                            <h3>Social Media</h3>
                            <p>Lê Hoàng Nhật Duy - Facebook<br>lhnduy - Instagram</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card p-4">
                    <tabset class="contact-tabset" #contactTabs>
                        <tab heading="New Message">
                            <div class="container ps-0 ms-3 mt-3">
                                <form (submit)="sendEmail($event)" #messageForm="ngForm">
                                    <div class="row gy-4">
                                        <div class="col-md-6">
                                            <input type="text" name="name" class="form-control" placeholder="Your Name"
                                                required="" [(ngModel)]="model.name">
                                        </div>
                                        <div class="col-md-6 ">
                                            <input type="email" class="form-control" name="email"
                                                placeholder="Your Email" required="" [(ngModel)]="model.email">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="phone"
                                                placeholder="Phone Number" required="" [(ngModel)]="model.phone">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="subject" placeholder="Subject"
                                                [(ngModel)]="model.subject">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea class="form-control" name="content" rows="6" placeholder="Message"
                                                [(ngModel)]="model.content"></textarea>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-warning">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </tab>
                        <tab heading="Sent Message">
                            <div class="container ps-0 ms-3 mt-3">
                                <app-myhome-new-message></app-myhome-new-message>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</main>