<div class="calendar-container mt-3">
    <div class="wrapper">
        <header>
            <p class="current-date mb-0" style="color: brown; font-weight: 400"></p>
            <div class="icons">
                <span id="prev" style="font-size: 14px" class="material-symbols-rounded">←</span>
                <span id="next" style="font-size: 14px" class="material-symbols-rounded">→</span>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks ps-0 mb-0">
                <li style="font-weight: bold;">Su</li>
                <li style="font-weight: bold;">Mo</li>
                <li style="font-weight: bold;">Tu</li>
                <li style="font-weight: bold;">We</li>
                <li style="font-weight: bold;">Th</li>
                <li style="font-weight: bold;">Fr</li>
                <li style="font-weight: bold;">Sa</li>
            </ul>
            <ul class="days ps-0"></ul>
        </div>
    </div>
</div>