<div>
    <select style="display:inline" class="form-select w-25" #billSelection (change)="onSelected()">
        <option default value="water">Water</option>
        <option value="gas">Gas</option>
        <option value="electricity">Electricity</option>
        <option value="insurance">Insurance</option>
        <option value="internet">Internet</option>
        <option value="mobile">Mobile</option>
        <option value="owed_water">Owed Water</option>
    </select>
    <button style="display:inline-block; color: white; background-color: #4476db;" type="button" (click)="goToBill()" class="btn ms-4">Pay Bill <span style="font-size: 14px;" class="material-icons">open_in_new</span></button>

    <div class="card info-card mt-4">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 14%">Type</th>
                    <th style="width: 13%">Month</th>
                    <th style="width: 13%">Amount</th>
                    <th style="width: 14%">Paid Date</th>
                    <th style="width: 14%">Due Date</th>
                    <th style="width: 14%">Paid Status</th>
                    <th style="width: 13%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bill of selectedBills; let index = index;">
                    <td>{{index + 1}}</td>
                    <td>{{bill.type}}</td>
                    <td>{{bill.month}}</td>
                    <td>{{bill.amount}}</td>
                    <td>{{bill.paidDate | date:'mediumDate'}}</td>
                    <td>{{bill.dueDate | date:'mediumDate'}}</td>
                    <td style="vertical-align: middle;">
                        <ng-toggle [(ngModel)]="bill.paid" [width]="config.width" [height]="config.height"
                            [margin]="config.margin" [labels]="config.labels" [color]="config.color"
                            [switchColor]="config.switchColor" [fontColor]="config.fontColor"
                            [fontSize]="config.fontSize" (change)="changePaidStatus(bill)" required></ng-toggle>
                    </td>
                    <td><button (click)="openBillModal(bill)" class="btn btn-warning" style="color: white;">Edit
                            Bill</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>