<div>
    <select class="form-select w-25">
        <option default>Month Select...</option>
        <option value="jan">January</option>
        <option value="feb">February</option>
        <option value="mar">March</option>
        <option value="apr">April</option>
        <option value="may">May</option>
        <option value="jun">June</option>
        <option value="jul">July</option>
        <option value="aug">August</option>
        <option value="sep">September</option>
        <option value="oct">October</option>
        <option value="nov">November</option>
        <option value="dec">December</option>
    </select>

    <table class="table mt-3">
        <thead>
            <tr>
                <th style="width: 10%">#</th>
                <th style="width: 18%">Username</th>
                <th style="width: 18%">Method</th>
                <th style="width: 18%">Paydate</th>
                <th style="width: 18%">Amount</th>
                <th style="width: 18%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td><button class="btn btn-warning" style="color: white;">Action</button></td>
            </tr>
        </tbody>
    </table>
</div>