<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Amount for this {{type}} bill</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #billsForm="ngForm" id="billsForm">
        <div class="form-group row">
            <label for="billID" class="col-sm-2 col-form-label me-0 pe-0">ID</label>
            <div class="col-sm-10 me-0 pe-0">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{ID}}>
            </div>
        </div>

        
        <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label me-0 pe-0">Type</label>
            <div class="col-sm-10 me-0 pe-0">
                <input type="text" readonly class="form-control-plaintext" id="type" value={{type}}>
            </div>
        </div>

        
        <div class="form-group row">
            <label for="month" class="col-sm-2 col-form-label me-0 pe-0">Month</label>
            <div class="col-sm-10 me-0 pe-0">
                <input type="text" readonly class="form-control-plaintext" id="month" value={{month}}>
            </div>
        </div>

        
        <div class="form-group row">
            <label for="amount" class="col-sm-2 col-form-label me-0 pe-0">Amount</label>
            <div class="col-sm-10 me-0 pe-0">
                <input type="text" class="form-control" style="width: 20%;" id="amount" value={{amount}} [(ngModel)]="amount" name="amount">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="bsModalRef.hide()">Submit</button>
</div>