<!-- Reports -->
<div class="card">
    <div class="filter">
        <a class="icon" style="cursor: pointer;">
            <fa-icon [icon]="['fas', 'sync']" (click)="rerender()"></fa-icon>
        </a>
    </div>

    <div class="card-body">
        <h5 class="card-title" style="font-weight: 600;">Bill Reports <span>/ Recent Months</span></h5>
        <!-- Line Chart -->
        <div *ngIf="isVisible">
            <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
        </div>
    </div>
</div><!-- End Reports -->