<ng-sidebar-container style="height: 100vh" *ngIf="member">
    <ng-sidebar style="margin-top: 62px;" [(opened)]="opened" [autoCollapseWidth]="autoCollapseWidth">
        <div style="position: relative; height: 100%; width: 320px;">
            <div class="sidebar">
                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']"
                            routerLink="/main/dashboard">
                            <fa-icon [icon]="['fas', 'home']" class="me-2"></fa-icon>
                            <span style="font-weight: 500;">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']"
                            routerLink="/main/profile">
                            <fa-icon [icon]="['fas', 'user']" class="me-2"></fa-icon>
                            <span style="font-weight: 500;">Profile</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']"
                            routerLink="/main/room">
                            <fa-icon [icon]="['fas', 'door-closed']" class="me-2"></fa-icon>
                            <span style="font-weight: 500;">My Room</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']"
                            routerLink="/main/document">
                            <fa-icon [icon]="['fas', 'folder-open']" class="me-2"></fa-icon>
                            <span style="font-weight: 500;">Document</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']"
                            routerLink="/main/settings">
                            <fa-icon [icon]="['fas', 'cog']" class="me-2"></fa-icon>
                            <span style="font-weight: 500;">Settings</span>
                        </a>
                    </li>

                    <li class="nav-item" style="border-bottom: solid 1px rgb(82, 14, 14);">
                        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['is-active']"
                            routerLink="/main/contact">
                            <fa-icon [icon]="['fas', 'phone']" class="me-2"></fa-icon>
                            <span style="font-weight: 500;">Contact</span>
                        </a>
                    </li>
                </ul>
                <app-myhome-calendar></app-myhome-calendar>
            </div>
        </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <header class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a class="logo d-flex align-items-center" routerLink="/main/dashboard">
                    <img src="assets/images/logo.png" alt="" style="max-height: 35px;">
                    <span class="d-none d-lg-block" style="color: rgb(82, 14, 14);">myHOME</span>
                </a>
                <!-- <i class="fa fa-bars ms-3 toggle-btn" style="font-size: 24px;" (click)="toggleOpened()"></i> -->
                <fa-icon [icon]="['fas', 'bars']" style="font-size: 24px;" class="ms-3 toggle-btn"
                    (click)="toggleOpened()"></fa-icon>
            </div><!-- End Logo -->

            <div class="search-bar" [class.search-bar-show]="search">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                    <button type="submit" title="Search">
                        <fa-icon [icon]="['fas', 'search']"></fa-icon>
                    </button>
                </form>
            </div><!-- End Search Bar -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">

                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link nav-icon search-bar-toggle">
                            <fa-icon [icon]="['fas', 'search']" (click)="toggleSearch()"></fa-icon>
                        </a>
                    </li><!-- End Search Icon-->

                    <li class="nav-item dropdown pe-2">
                        <button type="button" class="pill" (click)="openModal(about)">About</button>
                    </li>

                    <li class="nav-item dropdown pe-2" *appHasRole="['Admin', 'Moderator']">
                        <button type="button" class="pill" (click)="openModal(version)">Version</button>
                    </li>

                    <li class="nav-item dropdown pe-3">

                        <div class="dropdown d-flex align-items-center pe-0"
                            *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                            <img src="{{user.photoUrl || './assets/images/user.png'}}" alt="user photo"
                                class="dropdown-toggle rounded-circle" style="max-height: 36px;">
                            <a class="dropdown-toggle text-decoration-none d-block ps-2" style="color: rgb(82, 14, 14); font-size: 14px;
                                font-weight: 500;" dropdownToggle>{{member.knownAs}}</a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
                                style="margin-top: 2.5rem" *dropdownMenu>
                                <li class="dropdown-header">
                                    <h6 style="font-weight: 400;">{{member.knownAs}}</h6>
                                    <span *appHasRole="['Member']">House Member</span>
                                    <span *appHasRole="['Admin', 'Moderator']">Admin</span>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li *appHasRole="['Admin', 'Moderator']">
                                    <a class="dropdown-item d-flex align-items-center" routerLink="/main/admin">
                                        <fa-icon [icon]="['fas', 'lock']"></fa-icon>
                                        <span class="ms-3">Admin</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item d-flex align-items-center" routerLink="/main/profile">
                                        <fa-icon [icon]="['far', 'user']"></fa-icon>
                                        <span class="ms-3">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item d-flex align-items-center" routerLink="/main/settings">
                                        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                                        <span class="ms-3">Account Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item d-flex align-items-center" (click)="openModal(faq)">
                                        <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
                                        <span class="ms-3">Need Help?</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item d-flex align-items-center" (click)="logout()">
                                        <fa-icon [icon]="['fas', 'sign-out']"></fa-icon>
                                        <span class="ms-3">Sign Out</span>
                                    </a>
                                </li>

                            </ul><!-- End Profile Dropdown Items -->
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <section style="margin-top: 60px;" [class.is-collapsed]="opened">
            <router-outlet></router-outlet>
        </section>

        <footer id="footer" class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>HNDL</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://hoangnhatduyle.github.io/portfolio/" target="_blank">Hoang Nhat Duy Le</a>
            </div>
        </footer><!-- End Footer -->
    </div>
</ng-sidebar-container>

<ng-template #about>
    <div class="modal-header">
        <h4 class="modal-title pull-left">ABOUT THIS WEBSITE</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        myHOME website is advanced website designed to be completely self-contained with a powerful property management
        database, integrated accounting, contact management, work orders, marketing solutions, and much more. With these
        diverse capabilities, it will improve your experience when renting my house.
    </div>
    <div class="modal-footer" style="justify-content: flex-start">
        Please help me to improve the website by <a routerLink="/main/contact" (click)="modalRef?.hide()">giving me
            feedback</a>
    </div>
</ng-template>

<ng-template #version>
    <div class="modal-header">
        <h4 class="modal-title pull-left">VERSIONS</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Version 1.1: Front End designed and finalized for the website.
        Version 2.1: Back End finalized and Database construction.
    </div>
    <div class="modal-footer" style="justify-content: flex-start">
        Current Version: 2.1
    </div>
</ng-template>

<ng-template #faq>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Frequently Asked Questions</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        FAQ Page has not been constructed. If you have any question, please let me know directly or through Contact
        Page. If the question applies for other residents, I will post the question when I build the FAQ Page. Thank you
        for reaching out.
    </div>
    <div class="modal-footer" style="justify-content: flex-start">
        Sorry for any inconvenience 😔😔
    </div>
</ng-template>