<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/images/logo.png" alt="">
                                <span class="d-none d-lg-block" style="color: brown;"> myHOME</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="py-2">
                                    <h5 class="card-title text-center pb-0 fs-4"
                                        style="color: brown; font-weight: bold;">Create new password</h5>
                                    <p class="text-center small">We'll ask for this new password whenever you sign in
                                    </p>
                                </div>

                                <form class="row g-3 needs-validation" #loginForm="ngForm" (ngSubmit)="resetPassword()"
                                    autocomplete="off">

                                    <div class="col-12">
                                        <label for="token" class="form-label" style="font-weight: 500;">Token</label>
                                        <div class="input-group">
                                            <input type="text" name="token" [(ngModel)]="model.token"
                                                class="form-control" placeholder="Enter token here..." required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="password" class="form-label" style="font-weight: 500;">New Password</label>
                                        <div class="input-group">
                                            <input #newPassword type="password" name="password" [(ngModel)]="model.password"
                                                class="form-control" placeholder="Enter new password here..." required>
                                        </div>
                                        <p class="mt-2 mb-0" style="font-size: 12px; color: rgb(96, 96, 96)"><fa-icon style="margin-right: 10px;" [icon]="['fas', 'circle-info']"></fa-icon>Passwords must be at least 6 characters</p>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="confirmPassword" class="form-label" style="font-weight: 500;">Re-enter Password</label>
                                        <div class="input-group">
                                            <input #confirmNewPassword type="password" name="confirmPassword" [(ngModel)]="model.confirmPassword"
                                                class="form-control" placeholder="Enter confirmation password here..." required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-warning w-100" type="submit">Save changes and Sign-in</button>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="col-12">
                            <p class="mb-1" style="font-weight: 400; font-size: 20px;">Secure Password Tips:</p>
                            <ul>
                                <li>Use at least 8 characters, a combination of numbers and letters is best.</li>
                                <li>Do not use the same password you have used with us previously.</li>
                                <li>Do not use dictionary words, your name, e-mail address, mobile phone number or other personal information that can be easily obtained.</li>
                                <li>Do not use the same password for multiple online accounts.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>